{% set title = paragraph.field_title.value %}
{% set content = paragraph.field_content.value|striptags %}

<section class="call-to-action-area section-gap">
  <div class="container">
    <div class="row justify-content-center top">
      <div class="col-lg-12">
        <h2 class="text-white text-center">{{ title }}</h2>
        <p class="text-white text-center mt-10">{{ content }}</p>
      </div>
    </div>
    <div class="row justify-content-center d-flex">
      <div class="download-button d-flex flex-row justify-content-center mt-30">
        <a href="#" class="primary-btn text-uppercase">Buy Now for $19.99</a>
      </div>
    </div>
  </div>
</section>
