<footer class="footer-area">
    <section>
        <div class="container">
            <div class="row gy-4 gy-md-0">
                <div class="col-6 col-md-3">
                    <div class="link-wrapper">
                        <h4 class="mb-3 fs-6 text-light">Clients</h4>
                        <ul class="m-0 list-unstyled">
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Templates
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Enterprise
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Extensions
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Managers
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    How to Hire
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="link-wrapper">
                        <h4 class="mb-3 fs-6 text-light">Talent</h4>
                        <ul class="m-0 list-unstyled">
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Operations
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Marketing
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Finance
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Product
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Support
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="link-wrapper">
                        <h4 class="mb-3 fs-6 text-light">Resources</h4>
                        <ul class="m-0 list-unstyled">
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Community
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Resources
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Learning
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Webinars
                                </a>
                            </li>
                            <li>
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Customers
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="link-wrapper">
                        <h4 class="mb-3 fs-6 text-light">Company</h4>
                        <ul class="m-0 list-unstyled">
                            <li class="mb-1">
                                <a href="/product" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Products
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="/contact" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Contact Us
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    About Us
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Leadership
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Careers
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                                    Services
                                </a>
                            </li>
                        </ul>
                        <div class="payment-methods mt-3">
                            <h5 class="text-light">We accept:</h5>
                            <a href="#!" class="link-light">
                                <i class="fab fa-paypal fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-wrapper d-block mb-1 text-white text-sm-center fs-8">
                        &copy; 2024. All Rights Reserved.
                    </div>
                    <div class="credit-wrapper d-block text-secondary fs-9 text-start text-sm-center">
                        Built by <a href="https://oshinit.com" class="link-secondary text-decoration-none">Oshinit</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
