<section class="banner-area">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-start">
			<div class="banner-content col-lg">
				{% if title %}
					<h1 class="text-uppercase pt-lg-5 mt-lg-5 pt-md-20 pb-20">{{ title }}</h1>
				{% endif %}
			</div>
		</div>
	</div>
</section>
